/*breadcrumb*/
#breadcrumb {margin:0 0 10px 13px; text-transform:uppercase;  color:#333; font-size:13px;}
#breadcrumb ul { list-style:none; } #breadcrumb ul li {float:left; }
#breadcrumb ul li a { text-decoration:none; color:#333; font-weight:bold; }
#breadcrumb ul li strong { text-decoration:underline; }
.errormsg{    border:1px solid #FD8E8E;
    font-size:16px;
    color:red;
    margin-left:210px;
    margin-right:220px;
    padding:8px;

}

#signin { width:452px; padding:30px 0 0 30px; float:left; }
#signin h2.heading { font-size:25px; padding:0 0 8px 0; }
#signin .form { background:#f5f3f4; border:#f3f1f2 solid 1px; padding:20px; }
#signin .form span.sec { padding:10px 2px; display:block; background:url(../images/sign.png) right 7px no-repeat; }
#signin .form span.sec label.Lsec, #signin .form span.section label.Lsec { width:130px; padding:10px 15px 10px 0; font-size:14px; font-weight:bold; text-align:right; display:block; float:left; color:#333; }
#signin .form span.sec input.nml { width:232px; height:22px; padding:6px 11px; color:#9f9f9f; border:none; font-size:14px; float:left; }
#signin .form span.sec select.nml { width:206px; height:36px; padding:6px;  color:#9f9f9f; border:#d5d5d5 solid 1px; float:left; }
#signin .form span.section { padding:10px 2px; display:block; } #signin .form span.section input.remMe { margin:12px 0 0 0; } #signin .form span.section input.signin { margin:12px 0 0 15px; }
#signin .form span.section span.forgot { width:130px; display:block; margin:-20px 0 0 0; } #signin .form span.section span.forgot a { font-size:11px; font-style:italic; text-decoration:underline; color:#333333; }

#registerSec { width:452px; padding:30px 0 0 30px;  float:left; }
#registerSec h2.heading { font-size:25px; padding:0 0 8px 0; }
#registerSec .box { background:#f5f3f4; text-align:center; border:#f3f1f2 solid 1px; padding:20px; } #registerSec .box p { text-align:left; }

#leftnav { width:733px;  float:left; padding:0 0 0 13px; }
#rightnav { width:195px; float:right; padding:0 13px 0 0; }
ul.resdetails { list-style:none; font-size:14px; font-weight:bold; }
ul.resdetails li { float:left; padding:2px 0 10px; }
ul.resdetails li.coll { width:283px; } ul.resdetails li.del { width:200px; } ul.resdetails li.weight { width:250px; text-align:right;  }
.resultsec { background:#f2f0f1; border:#d9d9d9 solid 1px; }
.resultsec ul.hd { list-style:none; font-size:17px; text-transform:uppercase; font-weight:bold; }
.resultsec ul.hd li { float:left; padding:10px 32px; }
.resultsec ul.hd li.com { width:182px; } .resultsec ul.hd li.del { width:137px; } .resultsec ul.hd li.char { width:80px; } .resultsec ul.hd li.price { width:100px; }
.resultsec ul.Lgrey { background:#f6f4f5; } .resultsec ul.Dgrey { background:#ebe9ea; }
.resultsec ul.grey { list-style:none; font-size:18px; font-weight:bold; }
.resultsec ul.grey li { float:left; padding:19px 32px; text-align:center; color:#333; height:25px; } .resultsec ul.grey li .logo { border:#d9d9d9 solid 1px; margin:-17px 0; }
.resultsec ul.grey li.com { width:182px; } .resultsec ul.grey li.del { width:137px; } .resultsec ul.grey li.char { width:80px; } .resultsec ul.grey li.price { width:100px; color:#CA4616; } .resultsec ul.grey li.buy { width:75px; margin:-7px 0; }

.myAccChangeDet{width:450px; line-height:25px; background-color:#ffffff; border:1px solid #d8d8d8; -webkit-border-radius: 5px; border-radius: 5px; margin:0 0 0 13px; padding:10px;}
.myAccChangeDet h2 {color:#bfa276; font-size:22px; margin:10px 0 10px; border-bottom:1px solid #e3e3e3; padding-bottom:5px;}
.myAccChangeDet ul {list-style:none;}

.TabbedPanels {	clear: none; padding:20px 13px 0; }
.TabbedPanelsTabGroup { margin:0 0 0 10px; }
.TabbedPanelsTab { position: relative; top: 1px; float: left; padding: 8px 15px; margin: 0 3px 0 0; font-size:13px; background-color: #EFEFEF; list-style: none; border: solid 1px #D8D8D8;	-webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; cursor: pointer; }
.TabbedPanelsTabHover {	background-color: #CCC; }
.TabbedPanelsTabSelected { background-color: #fff;	border-bottom: 1px solid #fff; }
.TabbedPanelsTab a { color: black; text-decoration: none;}
.TabbedPanelsContentGroup {	clear: both; border:1px solid #D8D8D8; background-color: #fff;}
.TabbedPanelsContentGroup h3 {	font-size:18px; margin:10px 0; }
.TabbedPanelsContent { padding:20px 10px; height:300px;}
.TabbedPanelsContentVisible {  }
.VTabbedPanels .TabbedPanelsTabGroup { float: left;	width: 10em; height: 20em; background-color: #EEE; position: relative; border: solid 1px #999; border-right: solid 1px #999; border-left: solid 1px #CCC; border-bottom: solid 1px #CCC;}
.VTabbedPanels .TabbedPanelsTab { float: none; border-top: none; border-left: none;	border-right: none; }
.VTabbedPanels .TabbedPanelsTabSelected { background-color: #EEE; border-bottom: solid 1px #999;}
.VTabbedPanels .TabbedPanelsContentGroup { clear: none;	float: left; padding: 0px; width: 30em;	height: 20em; }
.aBlue {background-color:#3a87ad; webkit-border-radius: 3px; border-radius: 3px;}
.iYellow {background-color:#eca400; webkit-border-radius: 3px; border-radius: 3px;}
.dGreen {background-color:#74b122; webkit-border-radius: 3px; border-radius: 3px;}
.aSquare {padding:0px 3px 0px 3px; margin-right:5px; text-align:center; color:#ffffff;}
.alert-grey { color: #aaaaaa; background-color: #f1f1f1; border-color: #e3e3e3; }
.alert { padding: 8px 35px 8px 14px; margin-bottom: 20px; background-color: #EFEFEF; border: 1px solid #D8D8D8; -webkit-border-radius: 4px; -moz-border-radius: 4px;          border-radius: 4px; }

.myAccadd { background-color: #FFFFFF; border:1px solid #D8D8D8; border-radius: 5px; font-family: Tahoma,Arial; font-size: 12px; margin:20px 13px 0; padding: 10px; }
.myAccadd h2 { color: #BFA276; font-size: 22px; margin-top: 10px; }
.myAccountHolder { margin-left: 148px; width: 600px; }
.myAccadd .btn { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #7FBF4D; background-image: -moz-linear-gradient(center top , #7FBF4D, #63A62F); border-color: #63A62F #63A62F #5B992B; border-image: none; border-radius: 5px 5px 5px 5px; border-style: solid; border-width: 1px; box-shadow: 0 1px 0 0 #96CA6D inset; color: #FFFFFF; font: bold 11px/1 Tahoma,arial; padding: 7px 5px 8px; text-align: center; text-shadow: 0 -1px 0 #4C9021; width: 150px; z-index: 1000; display:block;height:50px;font-size:14px; }
.myAccadd .btndown { height:30px; padding: 4px 5px 8px; }

.fundsDetail { background-color: #F2F2F2; border: 1px solid #C3C3C3; font-size: 26px; margin: 10px 0 0 90px; padding: 10px; width: 400px; }
.addFundsList {font-size: 18px; margin:20px 0 20px 160px; }
.addFundsList li { list-style: none outside none; margin-left: -25px; padding-bottom: 8px; position: relative; text-decoration: none; }
input.addFundsInput{ border: 1px solid #D8D8D8; border-radius: 4px; color: #555555; font-size:14px; display: inline-block; height: 20px; line-height: 20px; margin-bottom: 10px; padding: 4px 6px; vertical-align: middle; }
.addFundsInput { color: #5D5D5D; font-size: 16px; height: 17px; padding: 5px; text-align: center; width: 50px; }
.addFundsList input[type="radio"] { margin:0 10px 0 0; }
.searchFromDateField{ height:30px; width:130px; border: 1px solid #D8D8D8; border-radius: 4px 4px 4px 4px; color: #555555; display: inline-block; font-size: 14px; line-height: 20px; margin-bottom: 10px; padding: 4px 6px; vertical-align: middle; }
.stateBtn{ float: right; height:30px; margin-right: 460px; }


.myAccColldet{ background-color:#ffffff; border:1px solid #d8d8d8; -webkit-border-radius: 5px; border-radius: 5px;}
.myAccColldet h2 {color:#666; background:#f1f1f1; font-size:16px; border-bottom:1px solid #e3e3e3; padding:5px 10px;}
.myAccColldet .note{ background-color:#f2feda; border:1px solid #9eb080; -webkit-border-radius: 5px; border-radius: 5px; padding:10px; text-align:center; }
.myAccColldet .note p{ font-style:italic; padding:0; }
.myAccColldet .note select { width:206px; height:36px; padding:6px;  color:#9f9f9f; border:#d5d5d5 solid 1px; }
.myAccColldet p.notetxt{ border-bottom:#e2e2e4 solid 1px; }
.myAccColldet .form, .myAccColldet .formDel { width:330px; } .myAccColldet .form span.sec, .myAccColldet .formDel span.sec { padding:3px 2px; display:block; }
.myAccColldet .form span.info { background:url(../images/icons/info.gif) 60px 0 no-repeat; padding:3px 0 3px 90px; }
.myAccColldet .form span.sec label.info { background:url(../images/icons/info.gif) 40px 5px no-repeat; }
.myAccColldet .form span.sec input[type="checkbox"] { margin:8px 0 0 0; }
.myAccColldet .form div.collNote { background-color:#f1f1f1; border:1px solid #e3e3e3; margin:10px 10px 0 0; }
.myAccColldet .form div.collNote p.notetxt{ border-bottom:#e2e2e4 solid 1px; }
.myAccColldet .form div.collNote textarea { border:none; padding: 0 5px; width: 285px; height:80px; border:#bebebe solid 1px; margin:12px 0 0 0; }
.myAccColldet .form span.address { background:url(../images/icons/address.gif) 15px 0 no-repeat; padding:3px 0 3px 40px; text-decoration:underline; }
.myAccColldet .form span.sec label.Lsec, .myAccColldet .form span.sec label.info, #signin .form span.section label.Lsec { width:100px; padding:8px 15px 8px 0; font-size:12px; font-weight:bold; text-align:right; display:block; float:left; color:#333; }
.myAccColldet .form span.sec input.post, .myAccColldet .form span.sec input.nml, .myAccColldet .form span.sec select.nml, .myAccColldet .formDel span.sec input.nml, .myAccColldet .formDel span.sec input.post, .myAccPromocode input.nml { -webkit-border-radius: 3px; border-radius: 3px; float:left; }
.myAccColldet .form span.sec span.pencil { width:150px; padding:8px 15px 8px 30px; font-size:12px; display:block; float:left; color:#333; background:url(../images/icons/pencil.jpg) 5px 5px no-repeat; }
.myAccColldet .form span.sec label.txtsec { width:150px; padding:8px 15px 8px 0; font-size:12px; display:block; float:left; color:#333; }
.myAccColldet .form span.sec input.post { width:90px; height:18px; padding:6px 11px; color:#9f9f9f; margin:0 10px 0 0; border:#bebebe solid 1px; font-size:14px; }
.myAccColldet .form span.sec input.btn { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background:#ff6d1c; border-radius: 5px; border:none; color: #FFFFFF; font: bold 11px/1 Tahoma,arial; padding: 4px 5px 8px; text-align: center; width: 80px; z-index: 1000; display:block;height:32px;font-size:14px; }
.myAccColldet .form span.sec input.nml { width:180px; height:18px; padding:6px 11px; color:#9f9f9f; border:#bebebe solid 1px; font-size:14px;  }
.myAccColldet .form span.sec select.nml { width:204px; height:30px; padding:6px;  color:#9f9f9f; border:#d5d5d5 solid 1px; }
.myAccColldet .form span.section { padding:10px 2px; display:block; } #signin .form span.section input.remMe { margin:12px 0 0 0; } #signin .form span.section input.signin { margin:12px 0 0 15px; }
.myAccColldet .form span.section span.forgot { width:130px; display:block; margin:-20px 0 0 0; } #signin .form span.section span.forgot a { font-size:11px; font-style:italic; text-decoration:underline; color:#333333; }

.myAccColldet .formDel span.sec label.Lsec { width:140px; padding:8px 15px 8px 0; font-size:12px; font-weight:bold; text-align:right; display:block; float:left; color:#333; }
.myAccColldet .formDel span.sec input.nml { width:140px; height:18px; padding:6px 11px; color:#9f9f9f; border:#bebebe solid 1px; font-size:14px;  }
.myAccColldet .formDel span.sec input.post { width:70px; height:18px; padding:6px 11px; color:#9f9f9f; margin:0 10px 0 0; border:#bebebe solid 1px; font-size:14px; }

.myAccColldet div.info { width:330px; background-color:#fdfbe6; border:1px solid #e7ce57; -webkit-border-radius: 5px; border-radius: 5px; }
.myAccColldet div.info input.checkbox { margin:5px 10px 10px 0; }
.myAccColldet div.info input.Restrictedbtn, .myAccColldet div.info input.Prohibitedbtn { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-radius: 5px; padding: 4px 5px 8px; color:#fff; font-weight:bold; float:left; text-align: center; width: 156px; border:none; display:block;height:32px;font-size:14px; }
.myAccColldet div.info input.Restrictedbtn { background:#ECA400; }
.myAccColldet div.info input.Prohibitedbtn { background:#d21611; }

.myAccPromocode { background-color:#f1f1f1; border:1px solid #e3e3e3; -webkit-border-radius: 5px; border-radius: 5px; }
.myAccPromocode h3 { color:#666; background:#f1f1f1; font-size:13px; padding:0 0 5px;}
.myAccPromocode input.nml { width:80px; height:15px; margin:0 5px 0 0; padding:6px 11px; color:#9f9f9f; border:#bebebe solid 1px; font-size:14px;  }
.myAccPromocode input.btn { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background:#ff6d1c; border-radius: 5px; border:none; color: #FFFFFF; padding: 4px 5px 6px; font-weight:bold; width: 60px; display:block;height:28px;font-size:13px; }

.myAccPaySum{ background-color:#ffffff; border:1px solid #d8d8d8; -webkit-border-radius: 5px; border-radius: 5px;}
.myAccPaySum h3 {color:#666; background:#f1f1f1; font-size:14px; border:1px solid #e3e3e3; padding:5px 10px;}
.myAccPaySum p.subtotal { border-bottom:#aaaaaa solid 1px; border-top:#aaaaaa solid 1px; padding:3px 0; }
.myAccPaySum strong.Larea, .myAccPaySum span.Sarea { display:block; padding:2px 5px; float:left;}
.myAccPaySum strong.Larea {width:100px; text-align:right;} .myAccPaySum span.Sarea {width:45px;}
.myAccPaySum .total{ background-color:#f2feda; text-align:center; color:#74B122; font-size:16px; border:1px solid #9eb080; -webkit-border-radius: 5px; border-radius: 5px; padding:10px; text-align:center; }
.static{ margin-left:80px; margin-right:10px; margin-top:20px; font-size:14px; }
