body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#f2f0f1 url(../images/bg.gif) center top repeat-y; color:#666;}
*{margin:0; padding:0; font-size:100%; vertical-align:baseline;}

/*Common*/
.FltLt{float:left;}		.FltRt{float:right;}	.clr{clear:both;}		:focus{outline:none;}
a{color:#069; text-decoration:none;}	a:hover{color:#ff4e00; text-decoration:underline;}
.IEHt{height:auto !important; height:10px; min-height:10px;}
.pad20 { padding:10px; }.pad100 { padding:50px; } .marNon { margin:0 !important; }
.pad10 { padding:10px; }img, input.login, .navRight input.search, .insta .submit {border:0;}
.pad10bt{ padding:0 0 10px 0 !important;}
.mar10lt{ margin:0 0 0 10px;}
.liht18{ line-height:18px; }

.text14 { font-size:14px; }
.textBld { font-weight:bold; }

p{ padding:8px 0; }

.red{ color:#d21611; }
.aBlueText{ color:#3A87AD; }
.iYellowText{ color:#ECA400; }
.dGreenText{ color:#74B122; }

/*Main Container
______________________________________________________________________________________*/

#mainCont	{ width:1000px; margin: 0px auto !important; }

/*Header Container
______________________________________________________________________________________*/

#HdrCont	{ background:url(../images/hdr-bg.jpg) left top repeat-x; }
h1.logo		{ text-indent:-9999px; margin:29px 0 0 20px; float:left; width:283px; height:87px; background:url(../images/logo.gif) left top no-repeat; }
ul.toplink	{ float:right; width:650px; padding:15px 20px 0 0; list-style-type:none; }
ul.toplink li	{ float:right; margin-right:1px; border:#353a34 solid 1px; }
ul.toplink li a	{ text-decoration:none; background:url(../images/toplinkbg.gif) left top repeat-x; display:block; padding:5px 15px;  color:#FFFFFF; font-size:14px; }
ul.toplink li a:hover	{ background:#000; color:#FFFFFF; font-size:14px; }
#Search	{ float:right; padding:10px 20px 22px 0; }
#Search h2{ color:#767676; font-size:32px; font-weight:200; padding:2px 0 5px 0; }
#Search input.search{ border:#70b064 solid 1px; color: #828282; width: 174px; height:28px; float:left }
#btnSubmitReg{ float:left }

ul.nav	{ width:auto; background:url(../images/navbg.gif) left top repeat-x; list-style-type:none; padding:0 9px; }
ul.nav li	{ float:left; background:url(../images/navbg-d.gif) right 2px no-repeat; text-transform:uppercase; }
ul.nav li.last	{ background:none; }
ul.nav li a	{ text-decoration:none; display:block; padding:11px 32px; color:#FFFFFF; font-size:13px; }
ul.nav li a:hover	{ background:#000; }

/*Page Container
______________________________________________________________________________________*/

#PageCont	{ padding:19px 8px 3px;}
#detailSec	{ margin:0 13px; }
#detailSec h2.heading	{ color:#333; font-size:14px; line-height:40px; display:block; }
#detailSec h2.heading span	{ color:#fff; font-size:25px; font-weight:bolder; padding:0 20px 5px 17px; display:block; }
#detailSec ul.Hd	{ width:auto; background:#f2f0f1; border:#d7d7d7 solid 1px; list-style-type:none; }
#detailSec ul.Hd li	{ background:url(../images/nubs.png) 7px 4px no-repeat; }
#detailSec ul.Hd li.Hd1	{ width:269px; height:38px; }	#detailSec ul.Hd li.Hd2	{ width:397px; height:38px; }	#detailSec ul.Hd li.Hd3	{ width:276px; height:38px; }

#detailForm { margin:0 13px; background:#f2f0f1; border:#d7d7d7 solid 1px; font-size:13px; padding:4px 5px 14px; margin-top:1px; }
#detailForm .deliveryDet { width:286px; background:url(../images/formdevider.gif) right 3px no-repeat; }
#detailForm .deliveryDet span.sec { padding:2px 2px; display:block; }
#detailForm .deliveryDet span.sec label.Lsec { width:36px; padding:10px 5px 10px 0; font-size:14px; font-weight:bold; text-align:right; display:block; float:left; color:#333; }
#detailForm .deliveryDet span.sec input.nml { width:182px; height:22px; padding:6px 11px; color:#9f9f9f; border:#d5d5d5 solid 1px; float:left; }
#detailForm .deliveryDet span.sec select.nml { width:206px; height:36px; padding:6px;  color:#9f9f9f; border:#d5d5d5 solid 1px; float:left; }

#detailForm .parcelDet { width:387px; background:url(../images/formdevider.gif) right 3px no-repeat; padding:39px 0 30px 10px; }
#detailForm .parcelDet span.sec { padding:2px 6px; display:block; }
#detailForm .parcelDet span.sec label.Lsec { padding:7px 5px 10px 5px; font-size:14px; font-weight:bold; text-align:right; display:block; float:left; color:#333; }
#detailForm .parcelDet span.sec select.nml { width:54px; height:34px; padding:6px 6px 6px 0; margin:0 0 0 3px; color:#9f9f9f; border:#d5d5d5 solid 1px; float:left; }
#detailForm .parcelDet span.txt { padding:35px 0 0; display:block; float:left; } #detailForm .parcelDet span.txt2 { margin:0 0 0 -5px; }
#detailForm .parcelDet span.section { padding:10px 6px; display:block; float:left; }
#detailForm .parcelDet span.section label.Lsec { font-size:12px; text-align:center; display:block; color:#333; }
#detailForm .parcelDet span.section input.nml { width:50px; height:22px; padding:6px 5px; color:#9f9f9f; border:#d5d5d5 solid 1px; }
#detailForm .getquotes { padding:44px 0 30px 32px; }

#FeaturedSer { padding:0 18px }
#FeaturedSer h2.heading { color:#333; font-size:18px; padding:0 0 10px 10px; }
#FeaturedSer .item { background:url(../images/f-mid.gif) left top repeat-x; width:226px; margin:0 13px 0 0; }  #FeaturedSer .last { margin:0; }
#FeaturedSer .item h3.subhd { color:#333; font-size:18px; text-transform:uppercase; padding:9px 0 0 0; text-align:center; line-height:21px; width:120px; }
#FeaturedSer .item span.price { background:url(../images/rupee.gif) left 10px no-repeat; padding:7px 0 0 15px; font-weight:bold; color:#ca4616; font-size:18px; width:40px; display:block; }
#FeaturedSer .item img.booknow { margin:3px 5px 0 0; }

#Ads { padding:0 22px; }


#featuredAll { background:#f2f0f1; border:#D7D7D7 solid 1px; position:relative; margin:0 13px;}
.featuredTitle {position:absolute; left:12px; top:8px; font-family:Tahoma, Arial;}
.featuredTitle h2 {font-size:13px; color:#333; }
.featuredTitle h2 span {color:#278827; }
#featured{ position:relative; padding-top:34px;}
#featured ul.ui-tabs-nav{ position:absolute; top:0; left:0px; list-style:none; margin:0; width:188px;padding-left:13px;padding-top:34px; }
#featured ul.ui-tabs-nav li{ padding:1px 0; background:url(../images/tabbg.gif) left top repeat-x; }
#featured ul.ui-tabs-nav li img{ float:right; margin:5px 8px;}
#featured ul.ui-tabs-nav li span{ font-size:12px; font-family:tahoma, arial; line-height:18px; font-weight:bold;}
#featured li.ui-tabs-nav-item a{ display:block; height:23px; padding-top:3px; padding-left:10px; color:#333;}
#featured li.ui-tabs-nav-item a:hover{background: url('../images/tabactive.gif') left top repeat-x; padding-top:4px; text-decoration:none; width:190px; margin:-1px 0 0 0; }
#featured li.ui-tabs-selected{}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{background: url('../images/tabactive.gif') left top repeat-x; padding-top:4px; width:190px; margin:-1px 0 0 0;}
#featured ul.ui-tabs-nav li.ui-tabs-selected a img{ float:right; margin:5px 8px;}
#featured .ui-tabs-panel{width:710px; height:190px; left:210px; position:relative;}
#featured .ui-tabs-panel .info{position:absolute; top:85px; right:-11px; height:55px; background:#fff;width:480px; padding:5px 10px 10px 10px; }
#featured .ui-tabs-panel img.slide{ width:731px; height:165px;}
#featured .info h2{ font-size:18px; font-family:tahoma, arial; color:#5d5d5d; margin:0;overflow:hidden; }
#featured .info p{ margin:2px 0 0 0; font-family:tahoma, arial; font-size:12px; line-height:15px; color:#616161;}
#featured .ui-tabs-hide{display:none;}


#logosSec { border-top:#a09d8e solid 1px; padding:10px 0; margin:0 13px; }
#logosSec h3 { font-size:20px; color:#333; padding:10px; width:400px; color:#CA4616; background:#FFFFFF; text-align:center; margin:-33px auto 0 !important; }
#logosSec a {  }
#logosSec a img { float:left; margin-right:23px; }


/*Footer Container
______________________________________________________________________________________*/

#footer{ margin:0 13px 5px 13px; padding:0 13px 13px; background: url("../images/footer-bg.jpg") repeat-x scroll center top #FFFFFF; font-family: Tahoma,Arial; font-size: 12px; margin-top: 25px; }
.footerlink { margin-top: 15px; width: 467px; }
.footerlink h3 { color: #AE8C59; font-size: 14px; margin-top: 11px; }
.footerlink h3 a { color: #AE8C59; }
.footerlinkTop { background: url("../images/footer-pod-top.png") no-repeat scroll 0 0 transparent; float: left; height: 38px; width: 467px; }
.footerlinkMid { background-color: #FFFFFF; border-left: 1px solid #D1D1D1; border-right: 1px solid #D1D1D1; float: left; height: 84px; width: 465px; }
.footerlinkMid a { color: #666666; }
.footerlinkMid a:hover { color: #70A829; }
.footerlinkM { margin-right:10px; }
.footerlinkBtm { background: url("../images/footer-pod-btm.png") no-repeat scroll 0 0 transparent; float: left; height: 6px; width: 467px; }
.footerThree { float: left; line-height: 140%; margin-left: 10px; width: 129px; }
.footerThree a .footerThreeM { margin-top: 5px; }
.footerlinkFull { border: 1px solid #D1D1D1; border-radius: 5px 5px 5px 5px; float: left; height: 128px; margin-top: 15px; width: 918px; }
.footerlinkFullHeader { background-color: #F2F2F2; border-bottom: 1px solid #D1D1D1; border-radius: 5px 5px 0 0; float: left; height: 38px; text-align: center; width: 918px; }
.footerlinkFullHeader h3 { color: #AE8C59; font-size: 14px; margin-top: 11px; }

.copyrt { background:#f2f0f1; font-size:13px; padding:5px 0; text-align:center; }
