/*Site Header Start*/

#site-header {

    background-color: #CE2B22;

    box-shadow:3px 3px 5px #EDEDED;

    -moz-box-shadow:3px 3px 5px #EDEDED;

    -webkit-box-shadow:3px 3px 5px #EDEDED;

    margin-bottom:20px;

}

#site-header-left{

    width:220px;

    float:left;

}

#site-header-logo{

    margin:4px 0;

}

#site-header-center{

    width:480px;

    float:left;

}

#site-header-text{

    text-align: center;

    margin:10px 0;

}

#site-header-right{

    width:220px;

    float:left;

}

.site-header-nav{

    background-color:#CE2B22;

    float:left;

}

.site-header-nav-iconset-notification{

    background-color:#CE2B22;

    padding:16px 5px 13px 5px;
}

.site-header-nav-iconset-notification-icon{

    height:19px;

    width:21px;

    background-color:#CE2B22;	

    background-image: url(../images/stopatdoc-header-sprite.png);

}

.site-header-nav-iconset{

    background-color:#CE2B22;

    padding:15px 5px;

}

.site-header-nav-iconset-icon{

    height:19px;

    width:21px;

    background-color:#CE2B22;	

    background-image: url(../images/stopatdoc-header-sprite.png);

}

#site-header-nav-notification-icon{

    background-position: 0px -2px;

}

#site-header-nav-notification-icon-active{

    background-position: 0px 20px;

}

#site-header-nav-notification-icon:hover{

    background-position: 0px 20px;

}

#site-header-nav-home-icon{

    background-position: 64px -2px;

}

#site-header-nav-home-icon:hover{

    background-position: 64px 20px;

}

#site-header-nav-settings-icon{

    background-position: 42px -2px;

}

#site-header-nav-settings-icon:hover{

    background-position: 42px 20px;

}

#site-header-nav-logout-icon{

    background-position: 21px -2px;

}

#site-header-nav-logout-icon:hover{

    background-position: 21px 20px;

}

/*Site Header End*/



/*-----------------------------------------------------------------------*/

/*Home Content Start*/

#home #header{

    padding:10px;

    border-bottom:2px dashed #999;

    text-align:center;

}

#home #content{

    padding:20px 0;

}

#home #content #search{

    margin-left:50px;

    width:363px;

    padding:20px;

    float:left;

    border:1px solid #EEE;

}

#home #content #search form {width:360px;margin:0 auto;}

#home #content #search input[type=submit] ,#home #content #search input[type=button]{width:100%;}

#home #content #search form ul > li > section {width:360px;}

#home #content #search #ex{font-style:italic;}



#home #content #login{

    width:263px;

    margin-left:100px;

    margin-right:50px;

    padding:20px;

    float:left;

    border:1px solid #EEE;

}

#home #content #login form {width:260px;margin:0 auto;}

#home #content #login input[type=submit] ,#home #content #login input[type=button]{width:128px;}

#home #content #login form ul > li > section {width:260px;}

#home #content #login #facebook-connect{

    width: 265px;

    height: 54px;

    background-image: url(../images/facebook_connect_button.png);

    background-repeat: no-repeat;

}

#home #content #login #facebook-connect:hover{

    background-image: url(../images/facebook_connect_button_hover.png);

    background-repeat: no-repeat;

}

#home-content-login-form-signupbtn{

    width:66px;

    padding:10px 30px;

    margin-left:5px;

    float:left;



}

/*Home Content End*/



/*-----------------------------------------------------------------------*/

/*Register Page Start*/

#signup #header{

    width:930px;

    padding:10px;

    border-bottom:2px dashed #999;

}

#signup #header #left{

    width:620px;

    float:left;

}

#signup #header #right{

    width:310px;

    float:right;

}

#signup #content{

    padding:10px 100px;

}

#signup #content #pwd-box{

    padding:10px 0;

    border-bottom:1px dashed #999;

    border-top:1px dashed #999;

}

#signup #content form {width:550px;margin:0 auto;}

#signup #content form label{width:125px;text-align:right;}

#signup #content form ul > li > section {width:300px;margin-left:157px;}

#signup #content form .inline > input[type=number],#search-form .inline > select{width:100px;}

#signup #content form textarea{height:200px;}

#signup #form #cal input{

    cursor:default;

}

#signup #form #calender_dob{

    border: 0;

    background-color: #FFFFFF;

    width: 28px;

    height: 28px;

    background-image: url(../images/calender.png);

    background-repeat: no-repeat;

    background-position: right center;

    margin:6px 0;

}

/*Register Page End*/



/*-----------------------------------------------------------------------*/

/*DoctorsViewPatient Page Start*/

#doctor #patient {

    float: left;

    width: 610px;

    margin-bottom:10px;

}

#doctor #patient #details{

    margin:20px 0;

}

#doctor #patient #details > div{

    display:inline-block;

    vertical-align:middle;

    margin-right:10px;

}

#doctor #patient #details #name{

    color:#000;

}

#doctor #patient #details #name > div{

    padding:2px 0;

}

#doctor #patient #tabs-box{

    margin-bottom:20px;	

}

#doctor #patient #tabs-box .tab-content{

    min-height:300px;		

}

#doctor #patient #past-appointments{

    margin:0 auto;

    width:610px;

}

#doctor #tabs-box #prescription-content > section{

    width:135px;

    padding:0 5px;

    float:left;

    display:inline-block;

    text-align:center;

    margin-bottom:10px;

}

#doctor #tabs-box #prescription-content > section > #image{

    width:76px;

    height:100px;

    background-image:url(../images/prescription.png);

    background-repeat:no-repeat;

    margin:0 auto 10px;

}

.image_carousel {

    padding: 0 0 0 60px;

    position: relative;

}

.image_carousel #item {

    padding: 10px;

    margin-right: 10px;

    display: block;

    float: left;

}

a.prev, a.next {	

    width: 40px;

    height: 40px;

    display: block;

    position: absolute;

    top: 20px;

}

a.prev {			left: 0;

           background: url(../images/left-appointment.png) no-repeat transparent; }

a.prev:hover {		opacity:0.8; }

a.prev.disabled {	opacity:0.2 !important;  }

a.next {			right: 0;

           background: url(../images/right-appointment.png) no-repeat transparent; }

a.next:hover {		opacity:0.8; }

a.next.disabled {	opacity:0.2 !important;  }

a.prev.disabled, a.next.disabled {

    cursor: default;

}



a.prev span, a.next span {

    display: none;

}

#sidebar .todays_schedule {

    width:280px; 

    margin-top:10px

}

#sidebar #todays-schedule > .box-shadow{

    height:250px;

    overflow-y: scroll;

    width: 265px

}



/*DoctorsViewPatient Page End*/



/*-----------------------------------------------------------------------*/

/*DoctorsViewPatientSearch Page Start*/

.search-right{

    width:285px!important;

}

.search-box{

    width:233px!important;



}

#doctor #patient-search {

    float: left;

    width: 610px;

    margin-bottom:10px;

}

#doctor #patient-search #details{

    margin:5px 0;

    padding:5px 0;

}

#doctor #patient-search #details #name #big{

    font-size:18px;

    line-height:22px;

    color:#CE2B22;

}

#doctor #patient-search #details > div{

    display:inline-block;

    vertical-align:middle;

    margin-right:10px;

}

#doctor #patient-search #details #name > div{

    padding:2px 0;

}

#doctor #patient-search #pagination{

    display: table;

    margin: 10px auto;

}

#appointment-modal{

    background-color:#fff;

    width:600px;

    padding:20px;

}

#appointment-modal .inline > div{

    display:inline-block;

    margin-right:30px;

}

#appointment-modal #prescription{

    margin:20px 0;

}

/*DoctorsViewPatientSearch Page End*/



/*-----------------------------------------------------------------------*/

/*DoctorsSettings Page Start*/

#doctor #settings {

    float: left;

    width: 610px;

    margin-bottom:10px;

}

#doctor #settings #tabs-box{

    margin-top:30px;

}

#doctor #settings #tabs-box .tab-content{

    padding:30px;

}



#doctor #settings #tabs-box #account-content #personal{

    margin-bottom:15px;

}

#doctor #settings #tabs-box #clinic-timings-content #clinic{margin-bottom:30px;}

#doctor #settings #tabs-box #receptionist-content #receptionist{margin-bottom:10px;}

#doctor #settings #tabs-box #clinic-timings-content #clinic #header{margin-bottom:10px;}

#doctor #settings #tabs-box #account-content #clinics #header{

    margin-bottom:10px;

}

#doctor #settings #tabs-box #account-content #clinics #clinics-details > div{

    margin-bottom:10px;

}

#doctor #settings #tabs-box .tab-content #btns{

    margin-top:10px;

}

#doctor #settings #tabs-box .tab-content #btns input{

    padding:0 40px;

}



#doctor #settings #tabs-box .tab-content ul > li{margin:10px 0;*zoom: 1;}

#doctor #settings #tabs-box .tab-content ul > li:before,#settings ul > li:after{display:table;line-height:0;content:"";}

#doctor #settings #tabs-box .tab-content ul > li:after{clear: both;}

#doctor #settings #tabs-box .tab-content label{width:150px;text-align:right;float:left;display:block}

#doctor #settings #tabs-box .tab-content ul > li > section {width:330px;margin-left:170px;}

#doctor #settings #tabs-box .tab-content ul > li > section > span {color:#000;}

#doctor #settings #tabs-box .tab-content ul > li > span ,#doctor #settings #tabs-box .tab-content ul>li>input[type=text]{

    width:350px;

    color:#000;

    display:inline-block;

    float:left;

}

#doctor #settings #tabs-box .tab-content ul > li > section > input[type=number]{

    width:100px;	

}

/*DoctorsSettings Page End*/



/*-----------------------------------------------------------------------*/

/*Doctor Sidebar Start*/

#doctor #sidebar {

    width: 270px;

    float: right;

}

#doctor #sidebar #patient-search input[type=search]{

    width:233px!important;

    display: inline-block;

    height:37px;

    border-right:0;

    border-color:#000;

}

#doctor #sidebar #patient-search input[type=submit]{

    width:41px;

    height:39px;

    background-image: url(../images/search_button_blue.png);

    background-repeat: no-repeat;

    background-color:inherit;

    border:0;

    vertical-align:top;

    /*margin-left:-4px;*/

    border-bottom:1px solid #000;

    border-top:1px solid #000;

    border-right:1px solid #000;

}

#doctor #sidebar #patient-search input[type=submit]:hover{

    opacity:0.8;

}

#doctor #sidebar #patient-search #text{

    margin-top:10px;

}

#doctor #sidebar #appointment{

    margin-top:10px;

}

#doctor #sidebar #appointment #calender{

    margin-top:10px;

    margin-bottom:20px;

    /*        font-size: 10px;*/

}

#doctor #sidebar #todays-schedule{

    margin-top:10px;

}

#doctor #sidebar #todays-schedule #list{

    padding:10px 5px 10px 10px;

    margin:5px 0;

}

#doctor #sidebar #todays-schedule #list > #d-ts-date{

    padding:5px 0;

    margin:5px 0;

    border-bottom:1px dashed #999;

}

#doctor #sidebar #todays-schedule #list > div{

    padding:10px 20px;

    border-bottom:1px solid #EEE;

}

#doctor #sidebar #todays-schedule #list > div:last-child{

    border-bottom:0;

}

#doctor #sidebar #todays-schedule #list > div > div{

    width:100px;

    float:left;

}

#doctor #sidebar #upcoming-appointments{

    margin-top:20px;

}

#doctor #sidebar #upcoming-appointments #list{

    margin-top:10px;

    padding:0 20px;

}

#doctor #sidebar #upcoming-appointments #list > div{

    padding:20px 0;

    border-bottom:1px dashed #999;

}

#doctor #sidebar #upcoming-appointments #list > div:last-child{

    border-bottom:0;

}

#doctor #sidebar #upcoming-appointments #list #thirdAppointment{

    border-bottom:0;

}

/*DoctorsSettings Page End*/



/*-----------------------------------------------------------------------*/

/*Patient Home Start*/

#patient #recent-appointments{

    margin:0 auto;

    width:610px;

}

#patient #home #tabs-box{

    margin-bottom:20px;	

}

#patient #home #tabs-box .tab-content{

    min-height:300px;

    padding:20px 0;	

}

#patient #home #tabs-box #medical-history-content{

    text-align:center;

}

#patient #home #tabs-box #medical-history-content #ph-tb-mhc-empty{



    padding-left: 20px;

    padding-right: 20px;

}

#patient #home #tabs-box #prescriptions-content > section{

    width:135px;

    padding:0 5px;

    float:left;

    display:inline-block;

    text-align:center;

    margin-bottom:10px;

}

#patient #home #tabs-box #prescriptions-content > section > #image{

    width:76px;

    height:100px;

    background-image:url(../images/prescription.png);

    background-repeat:no-repeat;

    margin:0 auto 10px;

}

#patient #left-col {

    float: left;

    width: 610px;

}

#patient #right-col {

    float: right;

    width: 270px;

}

#patient #find-appointment {

    padding:20px;

    margin-bottom:20px;

}

#patient #scheduled-appointments {

    padding:20px;
    height:210px;
    overflow-y:scroll;

}
#scheduled-noappointments {

    padding:20px;
}

#patient #scheduled-appointments > header {

    margin-bottom:10px;

}

#patient #scheduled-appointments > section{

    padding:20px 0;

    border-top:1px dashed #000;

    color:#000;

}

#patient #scheduled-appointments > section > div {

    line-height:20px;

}

#patient #find-appointment input[type="submit"]{

    width:100%;

}

#patient #home #details{

    margin-bottom:20px;

    height:104px;

}

#patient #home #select{

    margin:20px 0;

}

#patient #home #select > select{

    margin-left:20px;

    height:30px;

    width:150px;

}

#patient #home #details #image{

    float:left;

    margin-right:20px;

}

#patient #home #details #name{

    padding:22px 0;

    line-height:20px;

    float:left;	

}

#patient #home #details #next-appointment{

    height:87px;

    padding:15px 20px 0 15px;

    float:right;

    width:230px;

}

#patient #home #details #next-appointment #cal_big{

    background-color: #FFFFFF;

    background-image: url(../images/calendar_big.png);

    background-repeat: no-repeat;

    height: 75px;

    width: 75px;

    float:left;

    margin-right:10px;

    color:#CE2B22;

    position:relative;	

}

#patient #home #details #next-appointment #cal_big #day{

    padding-top: 22px;

    font-size: 28px;

    line-height: 28px;

    text-align: center;

}

#patient #home #details #next-appointment #cal_big #month{

    font-size:18px;

    text-align:center;

}

#cal input{

    cursor:default;

}

#calender_start{

    border: 0;

    background-color: #F6F6F6;

    width: 28px;

    height: 28px;

    background-image: url(../images/calender.png);

    background-repeat: no-repeat;

    background-position: right center;

    margin:6px 0;

}

#calender_end{

    border: 0;

    background-color: #F6F6F6;

    width: 28px;

    height: 28px;

    background-image: url(../images/calender.png);

    background-repeat: no-repeat;

    background-position: right center;

    margin:6px 0;

}



/*Receptionist Home  End*/



/*-----------------------------------------------------------------------*/

/*Patient Doctor Search Start*/

#filter-top{

    text-align:center;

    margin-top:-20px;

    background-color:#EEE;

    width: 100%;

    padding-top:5px;

    margin-bottom:20px;

}

#filter-top form{

    display:inline-block;

}

#filter-top select{

    display:inline-block;

    float:left;

    width:250px;

    margin-right:10px;

    height:36px;

}

#filter-top input[type=text] {

    display:inline-block;

    float:left;

    width:250px;

    margin-right:10px;

    height:34px;

}

#filter-top input[type=submit] {

    display:inline-block;

    float:left;

    width:36px;

    height:36px;

    background-image:url(../images/search_button.png);

    background-repeat:no-repeat;

    background-color:#EEE;

    border:0;

}

#patient #doctor-search #left-col {

    float: left;

    width: 270px;

}

#patient #doctor-search #left-col > #filter {

    padding:10px;

    width:250px;

    margin:0 auto;

}

#patient #doctor-search #left-col > #filter span {

    padding:2px 0;

}

#patient #doctor-search #left-col > #filter ul > li > section {width:100%;}

#patient #doctor-search #left-col > #filter ul > li > section > input {width:98%;}

#patient #doctor-search #left-col > #filter ul > li > div {display:inline-block;float:left;}



#patient #doctor-search #left-col #slider-range {

    border: 1px solid #aaaaaa;

    background: #999 url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;

    color: #222222;

    font-family: Verdana,Arial,sans-serif;

    font-size: 1.1em;

    height: .5em;

    position: relative;

    text-align: left;

}

#patient #doctor-search #left-col #slider-range .ui-widget-header{

    border: 1px solid #CE2B22;

    background: #CE2B22 url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;

    color: #222222;

    font-weight: bold;

}

#patient #doctor-search #left-col #slider-range > a{

    border: 3px solid #fff;

    border-radius:100px;

    background: #CE2B22 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;

    font-weight: normal;

    color: #555555;

    top: -.3em;

    position: absolute;

    z-index: 2;

    width: .8em;

    height: .8em;

    cursor: default;

}

#patient #doctor-search #right-col {

    float: right;

    width: 610px;

}

#patient #doctor-search #doctors{

    padding:10px 0;

    height:110px;

}

#patient #doctor-search #doctors #image{

    float:left;

    margin-right:20px;

}

#patient #doctor-search #doctors #name{

    padding:25px 0;

    line-height:20px;

    float:left;	

}

#patient #doctor-search #doctors #next-appointment{

    position:relative;

    height:85px;

    padding:15px 20px 0 15px;

    float:right;

    width:230px;

}

#patient #doctor-search #doctors #next-appointment #cal_big{

    background-image: url(../images/calendar_big.png);

    background-repeat: no-repeat;

    height: 75px;

    width: 75px;

    float:left;

    margin-right:10px;

    color:#CE2B22;

    position:relative;	

}

#patient #doctor-search #doctors #next-appointment #cal_big #day{

    padding-top: 22px;

    font-size: 28px;

    line-height: 28px;

    text-align: center;

}

#patient #doctor-search #doctors #next-appointment #cal_big #month{

    font-size:18px;

    text-align:center;

}

#patient-next-app-btns  #book{

    display:inline-block;

    padding:10px 22px;

    bottom:0;

    position:absolute;

}

#patient-next-app-btns  #book:hover{

    cursor:pointer;

}

#patient-next-app-btns  #view-all{

    display:inline-block;

    padding:10px 22px;

    bottom:0;

    right:0;

    position:absolute;	

}

#patient-next-app-btns  #view-all:hover{

    cursor:pointer;

}

#patient #doctor-search #pagination{

    display: table;

    margin: 10px auto;

}

/*Patient Doctor Search  End*/



/*-----------------------------------------------------------------------*/

/*Patient Doctor Appointment Start*/



#doctor-appointment{margin-bottom:10px;}

#doctor-appointment #left-col{width:610px;float:left;}

#doctor-appointment #right-col{width:270px;float:right;}

#doctor-appointment #left-col #doctor-info {height:104px;margin-bottom:20px;}

#doctor-appointment #left-col #doctor-info #image{float:left;

                                                  margin-right:20px;}

#doctor-appointment #left-col #doctor-info #name{

    padding:22px 0;

    line-height:20px;

    float:left;	

}

#doctor-appointment #left-col #mission{padding:20px 0;margin-bottom:20px;}	

#doctor-appointment #left-col header{margin-bottom:20px;}

#doctor-appointment #left-col #qualifications > ul > li{padding:3px;}

#calender{

    margin:10px 0;

}

#appointment-cal{

    margin:10px 0;

}

#todays-schedule{

    margin:20px 0 0;

    width:270px;

}

#todays-schedule-list{

    padding:10px;

    margin:5px 0;



}

#todays-schedule-list > div > section{

    padding:10px;

    text-align:center;

}

#p-da-tsl{

    height:180px;

    overflow-y:scroll;

}

#todays-schedule-list > div > section  input{

    width:60%;

    padding:10px;

}

#todays-schedule-list > div > section:last-child{

    border-bottom:0 !important;

}

#todays-schedule-modal{

    width:320px;

}

#todays-schedule-list-modal{

    padding:10px;

}

#todays-schedule-list-modal > div > section{

    padding:10px;

    text-align:center;

}

#p-da-tsl-modal{

    height:200px;

    overflow-y:scroll;

    margin-bottom:20px;

}

#todays-schedule-list-modal > div > section  input{

    width:60%;

    padding:10px;

}

#todays-schedule-list-modal > div > section:last-child{

    border-bottom:0 !important;

}



/*Patient Doctor Appointment End*/



/*-----------------------------------------------------------------------*/

/*Patient login Start*/



#patient #patient-login-text{

    width:303px;

    margin:0 auto;

    margin-bottom:20px;

}

#patient #login{

    width:263px;

    margin:0 auto;

    padding:20px;

    border:1px solid #EEE;

}

#patient #login form {width:260px;margin:0 auto;}

#patient #login input[type=submit] ,#patient #login input[type=button]{width:128px;}

#patient #login form ul > li > section {width:260px;}

#patient #login #facebook-connect{

    width: 265px;

    height: 54px;

    background-image: url(../images/facebook_connect_button.png);

    background-repeat: no-repeat;

}

#patient #login #facebook-connect:hover{

    background-image: url(../images/facebook_connect_button_hover.png);

    background-repeat: no-repeat;

}

/*Patient login End*/



/*-----------------------------------------------------------------------*/

/*Patient Settings Start*/



#patient #settings #form{padding:20px;width:415px;margin:0 auto 20px;position:relative;}

#patient #settings #form #cal{

    position: absolute;

    right: 0;

}

#patient #settings #form #cal input{

    cursor:default;

}

#patient #settings #form #calender_dob{

    border: 0;

    background-color: #FFFFFF;

    width: 28px;

    height: 28px;

    background-image: url(../images/calender.png);

    background-repeat: no-repeat;

    background-position: right center;

    margin:6px 0;

}

#patient #settings #form form{width:400px;}

#patient #settings #form ul > li > section {width:70%;margin-left:30%;}

#patient #settings #form label{width:25%;text-align:right;}

#patient #settings #form #btns > input {padding:10px 30px;}

#patient #settings form .inline > select{width:85px;}

/*Patient Settings End*/



/*-----------------------------------------------------------------------*/

/*Patient Doctor Appointment Confirm Start*/

#doctor-appointment-confirm{width:700px;margin:0 auto;}

#doctor-appointment-confirm #doctor-info{padding:20px;width:660px;margin:10px auto 20px;}	

#doctor-appointment-confirm #doctor-info ul > li > section {width:70%;margin-left:30%;color:#000;}

#doctor-appointment-confirm #doctor-info label{width:25%;text-align:right;padding:0;}	

#doctor-appointment-confirm #patient-info{padding:10px;width:425px;margin:0 auto;position:relative;}	

#doctor-appointment-confirm #patient-info form{width:405px;}

#doctor-appointment-confirm #patient-info > header{margin-bottom:20px;}

#doctor-appointment-confirm #patient-info ul > li > section {width:70%;margin-left:30%;}

#doctor-appointment-confirm #patient-info ul > li > section > input[type=submit]{padding: 0 40px;}

#doctor-appointment-confirm #patient-info label{width:25%;text-align:right;}

#doctor-appointment-confirm #code-text-right{width:100% !important;margin-left:30%}

#doctor-appointment-confirm #left-link-button{margin-left: -20%;

                                              display: inline-block;

                                              float: left;}

#doctor-appointment-confirm #patient-info #cal{

    position: absolute;

    right: 0;

}

#doctor-appointment-confirm #patient-info #cal input{

    cursor:default;

}

#doctor-appointment-confirm #patient-info #calender{

    border: 0;

    background-color: #FFFFFF;

    width: 28px;

    height: 28px;

    background-image: url(../images/calender.png);

    background-repeat: no-repeat;

    background-position: right center;

    margin:6px 0;

}

/*Patient Doctor Appointment Confirm End*/



/*-----------------------------------------------------------------------*/

/*Patient Confirmation Code Start*/

#conf-code{

    width:600px;	

}

#conf-code #content{

    padding:30px 0;

    margin-bottom:20px;

}

#conf-code #left{

    width:280px;

    float:left;	

}

#conf-code #right{

    width:280px;

    margin-left:300px;	

}

#conf-code #right input[type="text"]{

    height:40px;	

}

#conf-code input[type="button"]{

    padding:10px 40px;

}

/*Patient Confirmation Code End*/



/*-----------------------------------------------------------------------*/

/*Receptionist Home Start*/



#receptionist-home{

    margin-top:50px;

}

#receptionist-home #box{

    padding:10px 20px;

    margin:10px;

    width:245px;

    float:left;

}

#receptionist-home #box form {width:245px;margin:0 auto;}

#receptionist-home #box form label{width:80px;;text-align:right;padding:5px 0;}

#receptionist-home #box form ul > li > section {width:245px;margin-left:100px;}

#receptionist-home #box form ul > li > section > span{padding:5px 0;color:#000;}



/*Receptionist Home  End*/



/*-----------------------------------------------------------------------*/

/*Receptionist Book Appointment Start*/



#receptionist #left-col{

    width:600px;

    float:left;

}

#receptionist #left-col #header {

    margin-bottom:20px;

}

#receptionist #left-col #header > section{

    float:left;

    margin-right:100px;

}

#receptionist #left-col #header > section > div{

    padding:5px 0;

}

#receptionist #left-col #appointment-manager{

    border:1px solid #CCC;

    padding:30px;

    margin-top: 20px;

}

#receptionist #right-col{

    width:270px;

    float:right;

}

#receptionist #right-col #appointment-cal{

    margin:10px 0;

}

#receptionist #right-col #calender{

    margin:10px 0;

}

#receptionist #right-col #cal{

    position: absolute;

}

#receptionist #right-col #calender_dob{

    border: 0;

    background-color: #FFFFFF;

    width: 28px;

    height: 28px;

    background-image: url(../images/calender.png);

    background-repeat: no-repeat;

    background-position: right center;

    margin:6px 0;

}



#book_appointment #cala{

    cursor:default;

    position: absolute;



}



#calender_dob{

    border: 0;

    background-color: #FFFFFF;

    width: 28px;

    height: 28px;

    background-image: url(../images/calender.png);

    background-repeat: no-repeat;

    background-position: right center;

    margin:6px 0;

}



#book_appointment{

    border: 0;

    background-color: #FFFFFF;

    width:600px;

    padding-left:30px;

    padding-top:3px;

    height: 200px;

    margin:20px 10;



}



#book_appointment .inline > section{

    display:inline-block;

    margin-right:50px;

    margin-left:4px;

}

#book_appointment  ul > li > label {margin-right:5px;padding:3px 0;}

#book_appointment  ul > li > section {width:100%;}

#book_appointment  ul > li > section > input {width:98%;}

#book_appointment  ul > li > section > select {width:15%;margin-right:3%;height:20px;}

#book_appointment  ul > li > section input[type=radio] {height:20px;}    

#book_appointment  ul > li > section > div > span {height:20px;padding:3px 0;}







#receptionist #right-col #create-appointment {}



#receptionist #right-col #create-appointment ul > li > label {margin-right:5px;padding:3px 0;}

#receptionist #right-col #create-appointment ul > li > section {width:100%;}

#receptionist #right-col #create-appointment ul > li > section > input {width:98%;}

#receptionist #right-col #create-appointment ul > li > section > select {width:21%;margin-right:1%;height:24px;font-size: 11px;}

#receptionist #right-col #create-appointment ul > li > section input[type=radio] {height:20px;}    

#receptionist #right-col #create-appointment ul > li > section > div > span {height:20px;padding:3px 0;}





#p-am-table{

    border:1px solid #EEE;

    padding:18px;

    height:500px;

    overflow-y: scroll;

}

#p-am-table input[type=button]{

    height:40px;

    width:130px;

    padding:0;

}

#p-am-table > div {

    padding:5px 0;

    margin-bottom:5px;

    border-bottom:1px solid #EEE;

}

#p-am-table > div:last-child {

    border-bottom:0;

}

#p-am-table > div > div{		

    line-height:40px;

    display:inline-block;

    width:128px;

    margin-right:10px;

    float:left;

}

#p-am-table > div > div:last-child{		

    margin-right:0;

}

#receptionist .hidden{

    display: none;

}

.hidden{

    display:none;

}



/*Receptionist Book Appointment  End*/



/*-----------------------------------------------------------------------*/

/*Receptionist Report Start*/



#receptionist-appointment #box{

    width:910px;

    padding:10px 20px;

    float:left;

}

#receptionist-appointment #box fieldset ul > li label{

    width:112px;

    padding:5px 0;

    text-align:right;

}

#receptionist-appointment #box fieldset ul > li span{

    color:#000;

    padding:5px 0;

}

#receptionist-appointment #box fieldset {width:auto;margin:0 auto;}

#receptionist-appointment #box fieldset ul > li > section {width:275px;margin-left:125px;}



#receptionist-appointment #box > section{

    width:405px;

    float:left;

}



#receptionist-appointment #prescription-box{

    width:910px;

    padding:10px 20px;

    float:left;

}

#receptionist-appointment #prescription-box fieldset ul > li label{

    width:95px;

    padding:5px 0;

    text-align:right;

}

#receptionist-appointment #prescription-box fieldset ul > li span{

    color:#000;

    padding:5px 0;

}

#receptionist-appointment #prescription-box fieldset {width:auto;margin:0 auto;}

#receptionist-appointment #prescription-box fieldset ul > li > #first_col {width:275px;margin-left:30px;float:left;}

#receptionist-appointment #prescription-box fieldset ul > li > #second_col {width:75px;margin-left:30px;float:left;}

#receptionist-appointment #prescription-box fieldset ul > li > #third_col {width:75px;margin-left:30px;float:left;}

#receptionist-appointment #prescription-box fieldset ul > li > #add-more-medicine-div {margin-left:125px;}

#receptionist-appointment #prescription-box > section{width:910px;float:left;}



/*Receptionist Report  End*/



/*-----------------------------------------------------------------------*/

/*Receptionist Settings Start*/



#receptionist-settings{

    margin-top:20px;

}

#receptionist-settings > header {

    margin-bottom:70px;

}

#receptionist-settings #box{

    margin:0 auto;

    width:650px;

}

#receptionist-settings .tabs {

    float:left;

    width:110px;

    text-align:center;

}

#receptionist-settings .tabs > div {

    float:none;

    display:block;

    width:69px;

}

#receptionist-settings #personal-tab-content {

    float:left;

    width:500px;

}

#receptionist-settings #cal{

    position: absolute;

}

#receptionist #cal input{

    cursor:default;

}

#receptionist-settings #calender{

    border: 0;

    background-color: #FFFFFF;

    width: 28px;

    height: 28px;

    background-image: url(../images/calender.png);

    background-repeat: no-repeat;

    background-position: right center;

    margin:6px 0;

}

#receptionist-settings #personal-tab-content form ul > li label{width:120px;text-align:right;}

#receptionist-settings #personal-tab-content form {width:auto;margin:0 auto;}

#receptionist-settings #personal-tab-content form ul > li > section {width:275px;margin-left:135px;}

#receptionist-settings #doctor-tab-content {

    float:left;

    width:500px;

}

#receptionist-settings #doctor-tab-content form ul > li label{width:120px;text-align:right;}

#receptionist-settings #doctor-tab-content form {width:auto;margin:0 auto;}

#receptionist-settings #doctor-tab-content form ul > li > section {width:275px;margin-left:135px;}





/*Receptionist Settings  End*/

/*-----------------------------------------------------------------------*/

/*Receptionist Create Appointment Start*/

#appointment-modal_appointment{

    padding: 20px;

    height: 300px;

    /*    width:300px;*/



}

#appointment-modal_appointment #cal{

    position: absolute;

}

#appointment-modal_appointment #calender_dob{

    border: 0;

    background-color: #FFFFFF;

    width: 28px;

    height: 28p2;

    background-image: url(../images/calender.png);

    background-repeat: no-repeat;

    background-position: right center;

    margin:6px 0;

}

/*Patient thank you Start*/ 

#patient-thankyou{

    height:500px;

}

/*Patient thank you End*/ 

/*Receptionist Settings  End*/

/*-----------------------------------------------------------------------*/

/*Site Footer Start*/

#site-footer{



    background-color:#fff;

    bottom:0;

    left:0;

    right:0;

    color: #000;

    box-shadow:0 0 5px 2px #EDEDED;

    -moz-box-shadow:0 0 5px 2px #EDEDED;

    -webkit-box-shadow:0 0 5px 2px #EDEDED;

    padding:15px 0;

}

#site-footer-left{

    width:620px;

    float:left;

}

#site-footer-right{

    width:300px;

    float:left;

}

#site-footer-nav a,a:hover,a:focus{

    color:#000;

    text-decoration:none;

}

/*Site Footer End*/

